#about-container {
  height: 100vh;
  width: 100vw;
  color: white;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-holder {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: 2px solid rgba(255, 255, 255, 0.1);
  outline-offset: -2px;
  backdrop-filter: blur(5px);
  background: transparent;
  overflow: hidden;
  /* margin-left: 1.4rem; */
  border-radius: 3rem;
  width: 88rem;
  height: 50rem;
}

.about-title {
  margin-top: 0;
  font-size: 4.7rem;
  font-weight: 300;
}

.about-information {
  margin-top: -1.8rem;
  font-size: 3.1rem;
  text-align: center;
  font-weight: 300;
}

.stack-info {
  margin-top: 2rem;
}

.about-checkmeout {
  margin-top: 0.5rem;
  font-size: 3.3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.about-icons-holder {
  display: flex;
  flex-direction: row;
}

.about-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 14.5 rem;
  width: 12rem;
  background-color: #212121;
  border: 0.2rem solid var(--accentRedColor);
  border-radius: 2rem;
  padding-top: 1rem;
  margin: 1rem;
  text-decoration: none;
}

.about-icon img {
  aspect-ratio: auto;
  height: 10rem;
}

.about-icon h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1rem;
  color: var(--accentRedColor);
}

.accentred {
  font-weight: 700;
  color: var(--accentRedColor);
}

.nodejs {
  font-weight: 700;
  color: #8bc94c;
}

.flutter {
  font-weight: 700;
  color: #4bbcff;
}

.python {
  font-weight: 700;
  color: #ffd43b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #about-holder {
    transform: scale(0.4);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #about-holder {
    transform: scale(0.85);
  }
}
