#projects-container {
  height: 100vh;
  width: 100vw;
  color: white;
  overflow: hideen;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-holder {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: 2px solid rgba(255, 255, 255, 0.1);
  outline-offset: -2px;
  backdrop-filter: blur(5px);
  background: transparent;
  overflow: hidden;
  width: 88rem;
  height: 100rem;
}

.projects-icon {
  aspect-ratio: auto;
  height: 10rem;
}
